


h1 {
    text-align: center;
    font-family: fantasy;
    text-decoration-color: blue;
    font-weight: bold;
}

#act1{
    background-color: yellow;
}

#act2 {
    background-color: red;
}

#act3{
    background-color: blue;

}

#summary {
 background-color: green
}

p {
    text-align: right;
}


