.circle {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 20px;
    border-radius: 100%;
    border: 2px solid #ACACAC;
  }
  
  .cube {
    width: 40px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #5e5e5e;
    margin: 10px;
    float: left;
  }
  
  .blue {
    background-color: blue;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .cube.obscured {
    background-color: white;
  }